<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/images/favicon.png" rel="shortcut icon">
    <title>Fashion Cart - Your All Orders</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="/static/css/vendor.css">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="/static/css/utility.css">

    <!--====== App ======-->
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="/static/images/preloader.png" alt=""></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <header class="header--style-1 header--box-shadow">

            <!--====== Nav 1 ======-->
            {% include 'components/primary-nav-2.html' %}
            <!--====== End - Nav 1 ======-->


            <!--====== Nav 2 ======-->
            {% include 'components/secondary-nav-2.html' %}
            <!--====== End - Nav 2 ======-->
        </header>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'core:index' %}">Home</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'accounts:orders' %}">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                {% include 'components/dashboard_menu.html' %}
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                            <span class="dash__text u-s-m-b-30">Here you can see all products that have been delivered.</span>
                                            <div class="m-order__list">
                                                
                                                {% for order in orders %}    
                                                <div class="m-order__get">
                                                    <div class="manage-o__header u-s-m-b-30">
                                                        <div class="dash-l-r">
                                                            <div>
                                                                <div class="manage-o__text-2 u-c-secondary">Order #{{ order.id }}</div>
                                                                <div class="manage-o__text u-c-silver">Placed on {{ order.date_ordered }}</div>
                                                            </div>
                                                            <div>
                                                                <div class="dash__link dash__link--brand">

                                                                    <a href="{% url 'accounts:order-detail' order.id %}">Details</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="manage-o__description">
                                                        <div class="description__info-wrap">
                                                            <div>
                                                                
                                                                {% if order.status == 3 %}
                                                                <span class="manage-o__badge badge--shipped">{{ order.get_status }}</span>
                                                                {% elif order.status == 2 %}
                                                                <span class="manage-o__badge badge--processing">{{ order.get_status }}</span>
                                                                {% elif order.status == 1 %}
                                                                <span class="manage-o__badge badge--pending">{{ order.get_status }}</span>
                                                                {% else %}
                                                                <span class="manage-o__badge badge--delivered">{{ order.get_status }}</span>
                                                                {% endif %}
                                                            </div>
                                                            <div>
                                                                <span class="manage-o__text-2 u-c-silver">Net Quantity:

                                                                    <span class="manage-o__text-2 u-c-secondary">{{ order.items_count }}</span>
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <span class="manage-o__text-2 u-c-silver">Total Price:

                                                                    <span class="manage-o__text-2 u-c-secondary">${{ order.total_price }}</span></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        {% include 'components/footer.html' %}
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="/static/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="/static/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="/static/js/app.js"></script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>