<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/images/favicon.png" rel="shortcut icon">
    <title>Fashion Cart - Order Details</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="/static/css/vendor.css">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="/static/css/utility.css">

    <!--====== App ======-->
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="/static/images/preloader.png" alt=""></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <header class="header--style-1 header--box-shadow">
            {% include 'components/primary-nav-2.html' %}
            {% include 'components/secondary-nav-2.html' %}
        </header>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">
                                        <a href="{% url 'core:index' %}">Home</a>
                                    </li>
                                    <li class="has-separator">
                                        <a href="{% url 'accounts:orders' %}">My Order Orders</a>
                                    </li>
                                    <li class="is-marked">
                                        <a href="{% url 'accounts:order-detail' order.id %}">Order #{{ order.id }} Details</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                {% include 'components/dashboard_menu.html' %}
                                <div class="col-lg-9 col-md-12">
                                    <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash-l-r">
                                                <div>
                                                    <div class="manage-o__text-2 u-c-secondary">Order #{{ order.id }}</div>
                                                    <div class="manage-o__text u-c-silver">Placed on {{ order.date_ordered }}</div>
                                                </div>
                                                <div>
                                                    <div class="manage-o__text-2 u-c-silver">Total:

                                                        <span class="manage-o__text-2 u-c-secondary">${{ order.total_price_with_shipping }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="manage-o">
                                                <div class="manage-o__header u-s-m-b-30">
                                                    <div class="manage-o__icon"><i class="fas fa-box u-s-m-r-5"></i>

                                                        <span class="manage-o__text">Package</span></div>
                                                </div>
                                                {% if order.date_delivered %}
                                                <div class="dash-l-r">   
                                                    <div class="manage-o__text u-c-secondary">Delivered on {{ order.date_delivered }}</div>
                                                </div>
                                                {% endif %}
                                                {% if order.status == -1 %}
                                                    <p style="color: rgb(245, 66, 66); font-weight: bold;">Order Has Been Cancelled</p>
                                                    <p style="color: rgb(245, 66, 66); font-weight: bold;">Reason: {{ order.cancellion_reason }}</p>
                                                    <br>
                                                    <br>
                                                {% else %}
                                                <div class="manage-o__timeline">
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i 
                                                                {% if order.status > 0 %}
                                                                timeline-l-i--finish
                                                                {% endif %}
                                                                ">
                                                                    <span class="timeline-circle"></span>
                                                                </div>

                                                                <span class="timeline-text">Pending</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i
                                                                {% if order.status > 1 %}
                                                                timeline-l-i--finish
                                                                {% endif %}
                                                                ">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Processing</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i
                                                                {% if order.status > 2 %}
                                                                timeline-l-i--finish
                                                                {% endif %}
                                                                ">

                                                                    <span class="timeline-circle"></span>
                                                                </div>

                                                                <span class="timeline-text">Delivered</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                
                                                {% for item in order.order_items.all %}    
                                                <div class="manage-o__description">
                                                    <div class="description__container">
                                                        <div class="description__img-wrap">

                                                            <img class="u-img-fluid" src="{{ item.product.thumbnail.url }}" alt="{{ item.product.title }}">
                                                        </div>
                                                        <div class="description-title">{{ item.product.title }}</div>
                                                    </div>
                                                    <div class="description__info-wrap">
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                <span class="manage-o__text-2 u-c-secondary">{{ item.quantity }}</span></span></div>
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Total:

                                                                <span class="manage-o__text-2 u-c-secondary">${{ item.get_net_price }}</span></span></div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Shipping Address</h2>
                                                    <h2 class="dash__h2 u-s-m-b-8">
                                                        {{ order.shipping.name }}
                                                    </h2>
                                                    <span class="dash__text-2">
                                                        <b>State:</b> {{ order.shipping.state }}
                                                    </span>
                                                    <span class="dash__text-2">
                                                        <b>City:</b> {{ order.shipping.city }}
                                                    </span>
                                                    <span class="dash__text-2">
                                                        <b>Address:</b> {{ order.shipping.address }}
                                                    </span>

                                                    <span class="dash__text-2">
                                                        <b>Phone Number:</b> {{ order.shipping.phone_number }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Subtotal</div>
                                                        <div class="manage-o__text-2 u-c-secondary">
                                                            ${{ order.total_price }}
                                                        </div>
                                                    </div>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Shipping Fee
                                                        </div>
                                                        <div class="manage-o__text-2 u-c-secondary">
                                                            ${{ order.shipping.shipping_charge }}
                                                        </div>
                                                    </div>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Total</div>
                                                        <div class="manage-o__text-2 u-c-secondary">
                                                            ${{ order.total_price_with_shipping }}
                                                        </div>
                                                    </div>

                                                    <span class="dash__text-2">
                                                        Paid by {{ order.shipping.get_payment_method }}
                                                    </span>

                                                    {% if order.shipping.bkash_number %}
                                                    <span class="dash__text-2">
                                                        <b>Bkash Number:</b> {{ order.shipping.bkash_number }}
                                                    </span>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        {% include 'components/footer.html' %}
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="/static/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="/static/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="/static/js/app.js"></script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>