<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/images/favicon.png" rel="shortcut icon">
    <title>Fashion Cart - About Us</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="/static/css/vendor.css">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="/static/css/utility.css">

    <!--====== App ======-->
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="/static/images/preloader.png" alt=""></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <header class="header--style-1 header--box-shadow">

            <!--====== Nav 1 ======-->
            {% include 'components/primary-nav-2.html' %}
            <!--====== End - Nav 1 ======-->


            <!--====== Nav 2 ======-->
            {% include 'components/secondary-nav-2.html' %}
            <!--====== End - Nav 2 ======-->
        </header>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'core:index' %}">Home</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'core:about' %}">About</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="about">
                                    <div class="about__container">
                                        <div class="about__info">
                                            <h2 class="about__h2">Welcome to Fashion Cart Bd!</h2>
                                            <div class="about__p-wrap">
                                                <p class="about__p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            </div>

                                            <a class="about__link btn--e-secondary" href="{% url 'core:index' %}" target="_blank">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">Our Team Members</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 u-s-m-b-30">
                                <div class="team-member u-h-100">
                                    <div class="team-member__wrap">
                                        <div class="aspect aspect--bg-grey-fb aspect--square">

                                            <img class="aspect__img team-member__img" src="https://scontent.fdac6-1.fna.fbcdn.net/v/t1.6435-9/184822787_2858187084421504_2253427379192842791_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeGrnpPffsDt9-2-C6U0hdYgdWT0l-X8gE11ZPSX5fyATc5RHoFkGQd2J_KW8X-u9hAKtceKojoyUeoh4Hm7MVbV&_nc_ohc=7eFOjQdf7K4AX-r28-v&_nc_ht=scontent.fdac6-1.fna&oh=3b865ce816ae59316db14be81fba8165&oe=60C46B37" alt=""></div>
                                        <div class="team-member__social-wrap">
                                            <ul class="team-member__social-list">
                                                <li>

                                                    <a class="s-tw--bgcolor-hover" href=""><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-fb--bgcolor-hover" href="https://www.facebook.com/shikder.ibrahimsiam"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-insta--bgcolor-hover" href="https://www.instagram.com/siam_sikder11/"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-linked--bgcolor-hover" href=""><i class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-member__info">

                                        <span class="team-member__name">Siam Sikder</span>

                                        <span class="team-member__job-title">Founder</span></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 u-s-m-b-30">
                                <div class="team-member u-h-100">
                                    <div class="team-member__wrap">
                                        <div class="aspect aspect--bg-grey-fb aspect--square">

                                            <img class="aspect__img team-member__img" src="https://scontent.fdac6-1.fna.fbcdn.net/v/t1.6435-9/124159987_439452237042364_4073043192327155715_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeFY0sMPdp8YaiYD5ofXk6Yj_SRtnJUTdMj9JG2clRN0yD3vVDqcks6Z5YyRKsKBTj0BFsLNNs6PoU7pi90X-Js7&_nc_ohc=PXIU5dFvFcoAX-uQ2jY&_nc_ht=scontent.fdac6-1.fna&oh=36e3ff3c4410e82d0daefd9047bd999a&oe=60C636FA" alt=""></div>
                                        <div class="team-member__social-wrap">
                                            <ul class="team-member__social-list">
                                                <li>

                                                    <a class="s-tw--bgcolor-hover" href=""><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-fb--bgcolor-hover" href="https://www.facebook.com/shikder.esha.420"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-insta--bgcolor-hover" href=""><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-linked--bgcolor-hover" href=""><i class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-member__info">

                                        <span class="team-member__name">Sikder Esha</span>

                                        <span class="team-member__job-title">Business Manager</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->


            <!--====== Section 4 ======-->
            
            {% comment %}
                <div class="u-s-p-b-90 u-s-m-b-30">

                    <!--====== Section Intro ======-->
                    <div class="section__intro u-s-m-b-46">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section__text-wrap">
                                        <h1 class="section__heading u-c-secondary u-s-m-b-12">CLIENTS FEEDBACK</h1>

                                        <span class="section__span u-c-silver">WHAT OUR CLIENTS SAY</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====== End - Section Intro ======-->


                    <!--====== Section Content ======-->
                    <div class="section__content">
                        <div class="container">

                            <!--====== Testimonial Slider ======-->
                            <div class="slider-fouc">
                                <div class="owl-carousel" id="testimonial-slider">
                                    <div class="testimonial">
                                        <div class="testimonial__img-wrap">

                                            <img class="testimonial__img" src="/static/images/about/test-1.jpg" alt=""></div>
                                        <div class="testimonial__content-wrap">

                                            <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                            <blockquote class="testimonial__block-quote">
                                                <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                            </blockquote>

                                            <span class="testimonial__author">John D. / DVNTR Inc.</span>
                                        </div>
                                    </div>
                                    <div class="testimonial">
                                        <div class="testimonial__img-wrap">

                                            <img class="testimonial__img" src="/static/images/about/test-2.jpg" alt=""></div>
                                        <div class="testimonial__content-wrap">

                                            <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                            <blockquote class="testimonial__block-quote">
                                                <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                            </blockquote>

                                            <span class="testimonial__author">John D. / DVNTR Inc.</span>
                                        </div>
                                    </div>
                                    <div class="testimonial">
                                        <div class="testimonial__img-wrap">

                                            <img class="testimonial__img" src="/static/images/about/test-3.jpg" alt=""></div>
                                        <div class="testimonial__content-wrap">

                                            <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                            <blockquote class="testimonial__block-quote">
                                                <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                            </blockquote>

                                            <span class="testimonial__author">John D. / DVNTR Inc.</span>
                                        </div>
                                    </div>
                                    <div class="testimonial">
                                        <div class="testimonial__img-wrap">

                                            <img class="testimonial__img" src="/static/images/about/test-4.jpg" alt=""></div>
                                        <div class="testimonial__content-wrap">

                                            <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                            <blockquote class="testimonial__block-quote">
                                                <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                            </blockquote>

                                            <span class="testimonial__author">John D. / DVNTR Inc.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Testimonial Slider ======-->
                        </div>
                    </div>
                    <!--====== End - Section Content ======-->
                </div>
            {% endcomment %}
                
            <!--====== End - Section 4 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        {% include 'components/footer.html' %}
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="/static/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="/static/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="/static/js/app.js"></script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>
</html>