<div class="fixed-list">
    <ul class="nav" id="init-scrollspy">
        <li>

            <a class="nav-link" href="#electronic-01" data-click-scroll="#electronic-01"><i
                    class="fas fa-tv"></i></a>
        </li>
        <li>

            <a class="nav-link" href="#female-02" data-click-scroll="#female-02"><i
                    class="fas fa-female"></i></a>
        </li>
        <li>

            <a class="nav-link" href="#male-03" data-click-scroll="#male-03"><i class="fas fa-male"></i></a>
        </li>
        <li>

            <a class="nav-link"><i class="fas fa-fighter-jet"></i></a>
        </li>
        <li>

            <a class="nav-link"><i class="fas fa-cookie-bite"></i></a>
        </li>
        <li>

            <a class="nav-link"><i class="fas fa-futbol"></i></a>
        </li>
        <li>

            <a class="nav-link"><i class="fas fa-book-open"></i></a>
        </li>
        <li>

            <a class="nav-link"><i class="fas fa-briefcase-medical"></i></a>
        </li>
    </ul>
</div>