<nav class="secondary-nav-wrapper">
    <div class="container">

        <!--====== Secondary Nav ======-->
        <div class="secondary-nav">

            <!--====== Dropdown Main plugin ======-->
            <div class="menu-init" id="navigation1">

            </div>
            <!--====== End - Dropdown Main plugin ======-->


            <!--====== Dropdown Main plugin ======-->
            <div class="menu-init" id="navigation2">

                <button class="btn btn--icon toggle-button fas fa-cog" type="button"></button>

                <!--====== Menu ======-->
                <div class="ah-lg-mode">

                    <span class="ah-close">✕ Close</span>

                    <!--====== List ======-->
                    <ul class="ah-list ah-list--design2 ah-list--link-color-secondary">
                        <li>
                            <a href="{% url 'core:products' %}?order_by=-timestamp">Latest Products</a>
                        </li>
                        <li>
                            <a href="{% url 'core:products' %}?order_by=-rating">Best Rated Products</a>
                        </li>
                        <li>
                            <a href="{% url 'core:about' %}">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'core:contact' %}">Contact</a>
                        </li>
                        <li>
                            <a href="{% url 'core:sell-on-fashion-cart' %}">Sell On Fashion Cart</a>
                        </li>
                    </ul>
                    <!--====== End - List ======-->
                </div>
                <!--====== End - Menu ======-->
            </div>
            <!--====== End - Dropdown Main plugin ======-->


            <!--====== Dropdown Main plugin ======-->
            <div class="menu-init" id="navigation3">

                <button class="btn btn--icon toggle-button fas fa-shopping-bag toggle-button-shop"
                    type="button"></button>

                <span class="total-item-round">2</span>

                <!--====== Menu ======-->
                <div class="ah-lg-mode">

                    <span class="ah-close">✕ Close</span>

                    <!--====== List ======-->
                    <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                        <li>

                            <a href="{% url 'core:index' %}"><i class="fas fa-home"></i></a>
                        </li>
                        
                        {% if request.user.is_authenticated %}
                        <li>

                            <a href="wishlist.html"><i class="far fa-heart"></i>
                            </a>
                        </li>
                        {% if request.path != "/cart" %}    
                        <li class="has-dropdown">
                            
                                <a class="mini-cart-shop-link" href="{% url 'core:cart' %}?returnurl={{ request.path }}"><i
                                        class="fas fa-shopping-bag"></i>

                                    <span class="total-item-round">{{ request.cart.items_count }}</span>
                                </a>
                            
                                

                            <!--====== Dropdown ======-->

                            <span class="js-menu-toggle"></span>
                            <div class="mini-cart">

                                <!--====== Mini Product Container ======-->
                                <div class="mini-product-container gl-scroll u-s-m-b-15">
                                    
                                    {% for item in request.cart.get_items %}    
                                    <!--====== Card for mini cart ======-->
                                    <div class="card-mini-product">
                                        <div class="mini-product">
                                            <div class="mini-product__image-wrapper">

                                                <a class="mini-product__link" href="product-detail.html">

                                                    <img class="u-img-fluid"
                                                        src="{{ item.product.thumbnail.url }}" alt="{{ item.product.title }}"></a>
                                            </div>
                                            <div class="mini-product__info-wrapper">
                                                
                                                {% comment %}                                                    
                                                <span class="mini-product__category">

                                                    <a href="shop-side-version-2.html">Electronics</a>
                                                </span>
                                                {% endcomment %}
                                                    

                                                <span class="mini-product__name">

                                                    <a href="{% url 'core:product-detail' item.product.url %}">{{ item.product.title }}</a></span>

                                                <span class="mini-product__quantity">{{ item.quantity }} x</span>

                                                <span class="mini-product__price">৳ {{ item.product.get_price }}</span>
                                            </div>
                                        </div>

                                        <a class="mini-product__delete-link far fa-trash-alt" onclick="add_cart(`{{ item.product.id }}`, '-{{ item.quantity }}')"></a>
                                    </div>
                                    <!--====== End - Card for mini cart ======-->
                                    {% endfor %}
                                        
                                </div>
                                <!--====== End - Mini Product Container ======-->


                                <!--====== Mini Product Statistics ======-->
                                <div class="mini-product-stat">
                                    <div class="mini-total">

                                        <span class="subtotal-text">SUBTOTAL</span>

                                        <span class="subtotal-value">${{ request.cart.total_price }}</span>
                                    </div>
                                    <div class="mini-action">

                                        <a class="mini-link btn--e-brand-b-2" href="{% url 'core:checkout' %}">PROCEED TO
                                            CHECKOUT</a>

                                        <a class="mini-link btn--e-transparent-secondary-b-2" href="{% url 'core:cart' %}?returnurl={{ request.path }}">VIEW
                                            CART</a>
                                    </div>
                                </div>
                                <!--====== End - Mini Product Statistics ======-->
                            </div>
                            <!--====== End - Dropdown ======-->
                        </li>
                        {% endif %}
                        {% endif %}
                    </ul>
                    <!--====== End - List ======-->
                </div>
                <!--====== End - Menu ======-->
            </div>
            <!--====== End - Dropdown Main plugin ======-->
        </div>
        <!--====== End - Secondary Nav ======-->
    </div>
</nav>